# Managed by Ansible.
# Manual changes will be overwritten.

network:
  version: 2
  renderer: networkd

  ethernets:
    {{ dns_client_ubuntu_management_interface }}:
      dhcp4: false
      addresses:
        - {{ dns_client_ubuntu_management_address }}
      nameservers:
        addresses:
{% for server in dns_client_servers %}
          - {{ server }}
{% endfor %}
        search:
          - {{ dns_client_domain }}
      optional: true

    {{ dns_client_ubuntu_external_interface }}:
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
        use-dns: false
        use-domains: false
      optional: true
